:root {
  --background: #193549;
  --color: white;
}

body {
  background: var(--background);
}

h1 {
  font-size: 32px;
  text-align: center;
  color: var(--color);
}

.controls {
  display: flex;
  height: 50px;
  text-align: center;
  justify-content: center;
}

label {
  color: var(--color);
  font-size: 18px;
  padding-top: 14px;
}

input {
  margin: auto 20px;
}
