:root {
  --background: #193549;
  --color: white;
  --panel-background: #6B0F9C;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background: var(--background);
}

h1 {
  font-size: 32px;
  text-align: center;
  color: var(--color);
}

.controls {
  display: flex;
  height: 50px;
  text-align: center;
  justify-content: center;
}

label {
  color: var(--color);
  font-size: 18px;
  padding-top: 14px;
}

input {
  margin: auto 20px;
}

.panels {
  min-height: 100vh;
  overflow: hidden;
}

.panel {
  background-size: cover;
  background-position: center;
  background: var(--panel-background);
  text-align: center;
  color: white;
}

.panel1 { background-image:url(https://source.unsplash.com/gYl-UtwNg_I/1500x1500); }
.panel2 { background-image:url(https://source.unsplash.com/rFKUFzjPYiQ/1500x1500); }
.panel3 { background-image:url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d); }
.panel4 { background-image:url(https://source.unsplash.com/ITjiVXcwVng/1500x1500); }
.panel5 { background-image:url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500); }
